body {
    background-color: oldlace;
}
body h1 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 35px;
    color: darkgreen;
    font-weight: bold;
    text-shadow: 1px 1px 4px;
    animation-duration: 3s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 100%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
#carousel {
    margin: 0 auto;
    border: 1px solid black;
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
#carousel ul {
    width: 2500px;
    padding: 0;
    margin: 0;
}
#carousel li {
    list-style: none;  
    float: left;
}
.button {
    position: absolute;
    opacity: 0.8;
}
#button-prev {
    top: 50%;
    font-size: 25px;
    left: 3%;
    color: white;
    border: none;
    background: none;
}
#button-next {
    top: 50%;
    font-size: 25px;
    right: 3%;
    color: white;
    border: none;
    background: none;
}



